* {
    margin: 0;
    padding: 0;
} 


body {
	background-image: url(../img/fons.png)

}

.main {
	min-height: 1500px;
	margin-left: 60px;
	margin-top: 30px;
	margin-right: 60px;
	background-color: #a6eef7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



.sel-box {
	height: 45px;
    background: rgb(0,233,118);
    background: linear-gradient(90deg, rgba(0,233,118,1) 19%, rgba(0,186,204,1) 73%);
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

	a.a /*text*/ {
		width: 60px;
		height: 27px;
		text-decoration: none;
		text-align: middle; 
	}

	a.a:hover {
		background-color: #00edb6;
		color: black; 
	}


	ul.a {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: rgba(0,20,20,0.05);
		float:right;
	}

	li a.a /*button*/ {
		float: right;
		display: block;
		color: #000;
		padding: 9px 18px;
		text-decoration: none;
		text-align: center; 
		border-right: 1px solid turquoise;
	}

	li a.a:hover {
		background-color: rgba(79,255,246,0.3);
		color: black; 
	}


	.active{
		background-color: rgba(79,255,246,0.4);
	}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


.karte {
	width: 100%;
	height: 450px;
}

.karte-box {
	margin-top: 50px;
}



.diy-box {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	background-color: dodgerblue;
}

.db {
	background-color: #a6eef7;
	width: 300px;
	height: 240px;
	margin: 5px;
	line-height: 35px;
	font-size: 20px;
}

.txt-top {
	text-align: center;
	height: 40px;
	width: 300px;
	background-color: aquamarine;
}

.vid-box {
	height: 200px;
	background-color: blue
}

/*3 main columns*/

.main-items {
	
	min-height: 1500px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
/*	background-color: rgba(255, 0, 0, 0.5);*/
}


.vidus-items {
	width: 100%;
	min-height: 190px;
	background-color: rgba(222,255,0,0.6);
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.sanu-item-title{
	height: 40px;
	background-color: rgba(222,255,0,0.6);
	text-align: center;
}
.vidus-item-title {
	margin-left: 2%;
	margin-right: 2%;
	height: 40px;
	background-color: rgba(222,155,50,0.6);
	text-align: center;
}


.m10 {
	margin: 15px;
}



.main-items-empty {
	min-height: 1500px;
	display: flex;
	justify-content: space-between;
}

	.vidus {

		background-color: rgba(0, 150, 100, 0.3);
		flex-grow: 2;
		max-width: 48%;
	}

	.labi {
		margin-right: 1%;
		margin-left: 1%;
		max-width: 24%;
		background-color: rgba(0, 100, 150, 0.3);
		flex-grow: 1;
	}

	.kreisi {
		margin-left: 1%;
		margin-right: 1%;
		max-width: 24%;
		background-color: rgba(0, 100, 150, 0.3);
		flex-grow: 1;
	}

/*** END ***/

.bottom-stuff {
	background-color: #1d5359;
	min-height: 300px;
}




.dropbtn {
    background-color: darkslategray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    top: 10%;
    left: 35%;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
	background-color: #ddd;
}


.dropdown:hover .dropdown-content {
	display: block;
}


.dropdown:hover .dropbtn {
	background-color: dimgrey;
}
































 /*LIGHT BOX COPYYYY*/

 .row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}